* {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.checkout {
  margin: 0 auto;
  padding: 64px 12% 24px;
}

.checkout__title {
  font-size: 36px;
  color: #4e5150;
}

.checkout__main {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-top: 51px;
}

.checkout__address__title {
  font-size: 18px;
  margin-bottom: 15px;
}

.checkout__address__string {
  font-size: 12px;
  color: #4f4f4f;
}

.checkout__address__input {
  position: relative;
}
.checkout__address__input > input {
  color: #828282;
  padding: 18px 52px;
  margin-top: 7px;
  border: 1px solid #828282;
  border-radius: 12px;
  min-width: 465px;
}
#check-phone {
  margin-top: 20px;
}
.checkout__address__input > .material-icons {
  position: absolute;
  color: #828282;
  top: 26px;
  left: 14px;
}

.checkout__items {
  background: #f2f2f2;
  border-radius: 12px;
  padding: 33px 28px 14px;
}

.checkout__item {
  display: flex;
}

.checkout__item > img {
  width: 30%;
  margin-right: 20px;
}

.checkout__item__name {
  color: #4e5150;
}

.checkout__item__price {
  color: #f2994a;
  font-style: normal;
}

.checkout__item {
  margin-bottom: 32px;
}

.checkout__item__price__base {
  color: #4e5150;
  font-size: 12px;
  text-decoration-line: line-through;
  margin-left: 10px;
}

.checkout__ship {
  display: flex;
  justify-content: space-between;
  color: #333333;
  border-top: 1px solid #bdbdbd;
  padding: 11px 0;
}
